@using PortfolioCoreDay.Entities
@model List<Education>

<h3 class="resume-title">Eğitim</h3>

@foreach (var item in Model)
{
    <div class="resume-item">

        <h4>@item.Title</h4>

        <h5>@item.EducationDate</h5>

        <p><em>@item.Universty, @item.Department</em></p>
    </div>
}
