<header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
        <img src="/iPortfolio-1.0.0/assets/img/my-profile-img.jpg" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Yusuf Saygı</h1>
    </a>

    <div class="social-links text-center">
        @await Component.InvokeAsync("_DefaultSocialMediaComponentPartial")
    </div>

    <nav id="navmenu" class="navmenu">
        <ul>
            <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Ana Sayfa</a></li>
            <li><a href="#about"><i class="bi bi-person navicon"></i> Hakkımda</a></li>
            <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Deneyimlerim</a></li>
            <li><a href="#portfolio"><i class="bi bi-images navicon"></i> Projelerim</a></li>
            <li><a href="#services"><i class="bi bi-hdd-stack navicon"></i> Hizmetlerim</a></li>
 
            <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Bana Yazın</a></li>
            <li>
                <a href="/About/Index">
                    <i class="bi bi-shield-lock navicon"></i>
                    <span style="color: #ffc107; font-weight: bold;">Yönetim Paneli</span>
                </a>
            </li>
        </ul>
    </nav>

</header>