@model List<Service>
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Modern teknolojileri kullanarak işinizi dijital dünyaya taşıyor, ihtiyaçlarınıza özel, hızlı ve güvenli çözümler üretiyorum. İşte sunduğum temel hizmetlerden bazıları:</p>
    </div><!-- End Section Title -->
    <div class="container">

        <div class="row gy-4">

     @foreach (var item in Model)
    {


                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
                    <div>
                        <h4 class="title"><a href="service-details.html" class="stretched-link">@item.title</a></h4>
                        <p class="description">@item.Description</p>
                    </div>
                </div>
    }
   
      </div>

    </div>

</section>