<div class="custom-menu">
    <button type="button" id="sidebarCollapse" class="btn btn-primary">
    </button>
</div>
<div class="img bg-wrap text-center py-4" style="background-image: url(/sidebar-09/images/bg_1.jpg);">
    <div class="user-logo">
        <div class="img" style="background-image: url(/sidebar-09/images/logo.jpg);"></div>
        <h3>Yusuf Saygı</h3>
    </div>
</div>