<ul class="list-unstyled components mb-5">
    <li>
        <a href="/Default/Index"><span class="fa fa-home mr-3"></span>Siteye Git</a>
    </li>
    <li>
        <a href="/About/Index"><span class="fa fa-user mr-3"></span>Hakkımda</a>
    </li>
    <li>
        <a href="/Experience/ExperienceList/"><span class="fa fa-trophy mr-3 notif"></span>Deneyimlerim</a>
    </li>
    <li>
        <a href="/Education/Index"><span class="fa fa-book mr-3"></span>Eğitim Hayatım</a>
    </li>
    <li>
    <li><a href="/Skill/SkillList"><span class="fa fa-diamond mr-3"></span>Yeteneklerim</a></li>
    </li>
    <li>
        <a href="/Service/Index"><span class="fa fa-support mr-3"></span>Hizmetlerim</a>
    </li>
    <li>
        <a href="/Portfolio/ProjectList"><span class="fa fa-briefcase mr-3"></span>Projelerim (Liste)</a>
    </li>
    <li>
        <a href="/Portfolio/PortfolioCards"><span class="fa fa-th-large mr-3"></span>Projelerim (Card)</a>
    </li>
    <li>
        <a href="/Testimonial/TestimonialList"><span class="fa fa-users mr-3"></span>Referanslarım</a>
    </li>
    <li>
        <a href="/Statistics/Index"><span class="fa fa-barcode mr-3"></span>İstatistikler</a>
    </li>
    <li>
        <a href="/Message/Index"><span class="fa fa-envelope mr-3"></span>Gelen Mesajlar</a>
    </li>
    <li>
        <a href="/Contact/Index"><span class="fa fa-phone mr-3"></span>İletişim Bilgileri</a>
    </li>
   
</ul>