<section id="hero" class="hero section dark-background">

    <img src="/iPortfolio-1.0.0/assets/img/hero-bg.jpg" alt="" data-aos="fade-in" class="">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Yusuf Saygı</h2>
        <p>İşlerim:

            @await Component.InvokeAsync("_DefaultJobComponentPartial")
            
            
            <span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
            <span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
    </div>

</section><!-- /Hero Section -->