@model List<Portfolio>

@{
    ViewData["Title"] = "ProjectList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container mt-4">
    <h2>Proje Listesi</h2>
    <table class="table table-bordered" style="border: 2px solid #000;">
        <thead style="background-color: #f8f9fa;">
            <tr>
                <th style="border: 1px solid #000;">#</th>
                <th style="border: 1px solid #000;">Başlık</th>
                <th style="border: 1px solid #000;">Açıklama</th>
                <th style="border: 1px solid #000;">Kategori</th>
                <th style="border: 1px solid #000;">Sil</th>
                <th style="border: 1px solid #000;">Güncelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="border: 1px solid #000;">@item.PortfolioId</td>
                    <td style="border: 1px solid #000;">@item.Title</td>
                    <td style="border: 1px solid #000;">@item.Description</td>
                    <td style="border: 1px solid #000;">@item.Category.CategoryName</td>
                    <td style="border: 1px solid #000;">
                        <a href="/Portfolio/DeleteProject/@item.PortfolioId" class="btn btn-danger btn-sm">Sil</a>
                    </td>
                    <td style="border: 1px solid #000;">
                       
                        <a href="/Portfolio/UpdatePortfolio/@item.PortfolioId" class="btn btn-success btn-sm">Güncelle</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
   
    <a href="/Portfolio/CreatePortfolio/" class="btn btn-info">Yeni Proje Girişi</a>
</div>
