@using PortfolioCoreDay.Entities
@model List<Skill>

<section id="skills" class="skills section light-background">

    <div class="container section-title" data-aos="fade-up">
        <h2>Yeteneklerim</h2>
        <p>Teknik yetkinliklerim ve uzmanlık seviyelerim aşağıda yer almaktadır.</p>
    </div><div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation">

            @foreach (var item in Model)
            {
                <div class="col-lg-6">
                    <div class="progress">
                        <span class="skill">
                            <span>@item.SkillName</span>
                            <i class="val">@item.SkillValue%</i>
                        </span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar"
                                 role="progressbar"
                                 aria-valuenow="@item.SkillValue"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>

</section>